/* Add CSS styles here! */
body {
  font-family: sans-serif;
}

.s-app {
  position: relative;
}

a {
  text-decoration: none;
}

.theme--light a > button {
  color: #000!important;
}

.theme--dark a > button {
  color: #fff!important;
}